body{
    background-image: linear-gradient(to right, rgb(158, 142, 248) , rgb(140, 123, 148));
}
#Nappula{
    position: relative;
    background-image: linear-gradient(to right, rgb(211, 141, 233) , rgb(211, 141, 133));
    color: white;
    border-radius: 10px;
    padding: auto;
    left: 850px;
    top: 300px;
}